
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CardviziteLayout.cshtml";
}

<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Dijital Çözümler Sizlerle!</h1>
                <h2>Cardvizite, dijital Dönüşümünüz İçin Benzersiz Çözümler Sunar.</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">İletişime Geçin</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/arsha/assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Clients Section ======= -->

    <!-- End Cliens Section -->
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Hakkımızda</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Cardvizite.com, dijital çağın hızla evrim geçirdiği günümüzde, kişisel ve iş bağlantılarınızı güçlendirmek amacıyla yaratılmış bir platformdur. İnovasyon, teknoloji ve kullanıcı deneyimi odaklı çözümler sunarak, dijital kimliğinizi etkili bir şekilde oluşturmanıza ve yönetmenize yardımcı oluyoruz.
                        İnovasyon, teknoloji ve kullanıcı deneyimi temel prensiplerimizdir. Cardvizite.com, sunduğu dijital kartvizitler, dijital araç numaratörleri gibi çeşitli ürünlerle, kullanıcıların dijital kimliklerini etkileşimli ve göz alıcı bir şekilde oluşturmalarına olanak sağlamaktadır.
                    </p>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        <span> <b>Neden Cardvizite.com?</b></span>
                        <br />
                        Cardvizite.com ailesi olarak, dijitalleşen dünyada sizlere en iyi hizmeti sunmak için buradayız. Bizimle tanışın, dijital kimliğinizi bir üst seviyeye taşıyın!
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Teknolojik çözümlerde uzman ekibimizle güvenilirlik.</li>
                        <li><i class="ri-check-double-line"></i> Kullanıcı dostu ara yüzlerimizle kolay ve hızlı erişim.</li>
                        <li><i class="ri-check-double-line"></i> Müşteri odaklı yaklaşımımızla her zaman yanınızdayız.</li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Why Us Section ======= -->
    <!-- End Why Us Section -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Ürünler</h2>
                <p>Benzersiz teknolojik çözümlerimizle iş dünyasını ve kişisel kullanımı bir araya getiriyoruz. Dijital kartvizitler, dijital araç numaratörleri, dijital fotoğraf saklama alanları, QR kod ve NFC kitleri ile, etkileşimli, hızlı ve güvenilir dijital deneyimler sunuyoruz.</p>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-briefcase"></i></div>
                        <h4><a href="">QR Kod & NFC kitleri</a></h4>
                        <p>Teknolojiyle bağlantı kurma gücü! QR kod ve NFC kitleri ile etkileşimli deneyimleri müşterilerinize sunun, bilgileri kolayca paylaşın.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-images"></i></div>
                        <h4><a href="">Dijital Fotoğraf</a></h4>
                        <p>Hatıralarınız her zaman yanınızda! Dijital fotoğraf saklama alanımız ile anılarınızı güvenle depolayın ve istediğiniz zaman erişim sağlayın.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-car-front"></i></div>
                        <h4><a href="">Akıllı Numaratör</a></h4>
                        <p>Araçlarınıza dijital bir dokunuş! Akıllı numaratör sistemimizle, araçlarınıza özel dijital kimlikler oluşturun ve etkileşimi bir adım öteye taşıyın.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-qr-code-scan"></i></div>
                        <h4><a href="">Dijital Kartvizit</a></h4>
                        <p>Fiziksel kartvizitlerin dijital dönüşümü! Profesyonel kimliklerinizi QR kodlar ve NFC teknolojisi ile entegre ederek, bağlantı kurmayı daha hızlı ve etkili hale getiriyoruz.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Dijital NFC Kartvizit Paketleri</h2>
                <p>Kişisel ve profesyonel bağlantıları dijitalleştirin. Kişisel ve iş bağlantılarınızı dijitalleştirin. Dijital kartvizitler ve diğer hizmetlerimizle güçlü dijital kimliğinizi oluşturun,</p>
            </div>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <h3>Cardvizite - Basic</h3>
                        <h4><sup>₺</sup>380</h4>
                        <ul>
                            <li><i class="bx bx-check"></i> Apple ve Android telefonlar ile uyumlu çalışır, uygulama gerektirmez.</li>
                            <li><i class="bx bx-check"></i> Tek seferlik ödeme ve Aylık ücret Yok</li>
                            <li><i class="bx bx-check"></i> NFC/RFID teknolojisi</li>
                            <li class="na"><i class="bx bx-x"></i> <span>Özel Tasarım ve Baskı Seçeneği</span></li>
                            <li class="na"><i class="bx bx-x"></i> <span> Şirketlere Özel Web Arayüzü</span></li>
                            <li class="na"><i class="bx bx-x"></i> <span> Özel Tasarım ve Baskı Seçeneği</span></li>
                        </ul>
                        <a class="getstarted scrollto" href="#contact" >İletişme Geçin</a>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box featured">
                        <h3>Cardvizite - Gold</h3>
                        <h4><sup>₺</sup>450</h4>
                        <ul>
                            <li><i class="bx bx-check"></i> Apple ve Android telefonlar ile uyumlu çalışır, uygulama gerektirmez.</li>
                            <li><i class="bx bx-check"></i> Tek seferlik ödeme ve Aylık ücret Yok</li>
                            <li><i class="bx bx-check"></i> NFC/RFID teknolojisi</li>
                            <li><i class="bx bx-check"></i> Kişiselleştirilebilir Yönetim Paneli</li>
                            <li class="na"><i class="bx bx-x"></i> <span> Özel Tasarım ve Baskı Seçeneği</span></li>                         
                            <li class="na"><i class="bx bx-x"></i> <span> Şirketlere Özel Web Arayüzü</span></li>

                        </ul>
                        <a class="getstarted scrollto" href="#contact" >İletişme Geçin</a>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <h3>Cardvizite - Business</h3>
                        <h4><sup>₺</sup>550</h4>
                        <ul>
                            <li><i class="bx bx-check"></i> Apple ve Android telefonlar ile uyumlu çalışır, uygulama gerektirmez.</li>
                            <li><i class="bx bx-check"></i> Tek seferlik ödeme ve Aylık ücret Yok</li>
                            <li><i class="bx bx-check"></i> NFC/RFID teknolojisi</li>
                            <li><i class="bx bx-check"></i> Özel Tasarım ve Baskı Seçeneği</li>
                            <li><i class="bx bx-check"></i> Şirketlere Özel Web Arayüzü</li>
                            <li><i class="bx bx-check"></i> Şirketlere Özel Yönetim Paneli</li>
                        </ul>
                        <a class="getstarted scrollto" href="#contact" >İletişme Geçin</a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Kullanıclarımızın En çok Merak Ettiği Konular</h2>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Dijital kartvizitler nasıl oluşturulur ve paylaşılır? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                Dijital kartvizit oluşturmak oldukça basit! Size vermiş olduğumuz yönetim panelini kullanarak kişisel ve iş bilgilerinizi ekleyebilir, ardından QR kod veya NFC ile paylaşabilirsiniz.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Dijital kartvizit kullanmanın avantajları nelerdir? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Dijital kartvizitler, sürdürülebilir, hızlı ve etkileşimli bir bağlantı yöntemi sunar. Fiziksel kartvizitlerin aksine, güncellenebilir ve çevre dostudur.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Dijital kartvizitlerimi kaç farklı cihazda kullanabilirim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Dijital kartvizitler, akıllı telefonlardan tablet bilgisayarlara kadar birçok cihazda kullanılabilir. QR kodları genellikle her türlü kamera tarafından okunabilir ve NFC, uyumlu cihazlarda hızlıca etkileşim sağlar.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Dijital kartvizitlerimi güncellemek mümkün müdür? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Evet, kartvizitinizi dilediğiniz zaman güncelleyebilirsiniz. Yönetin paneline giriş yaparak bilgilerinizi düzenleyebilir ve güncel QR kodu veya NFC etiketini oluşturabilirsiniz.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="500">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Dijital araç numaratörleri hangi tür araçlar için uygundur? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Dijital araç numaratörlerimiz, otomobillerden kamyonlara kadar geniş bir araç yelpazesine uyum sağlar. Her tür taşıt için özelleştirilebilir.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="600">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">QR kod ve NFC kitleri neler yapabilir? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Bu kitler, etkileşimli deneyimler yaratmak için kullanılır. Mesajlar, bağlantılar, kişisel bilgiler gibi çeşitli verileri paylaşabilir, ürünlerinizi tanıtabilirsiniz.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>iletişim</h2>
                <p>
                    "
                    İhtiyaçlarınıza özel çözümler sunuyoruz! Sipariş, bilgi talepleri veya herhangi bir konuda yardıma ihtiyacınız varsa, ekibimiz size en iyi hizmeti sunmak için burada."
                </p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Lokasyon:</h4>
                            <p>Bayrampaşa, İstanbul</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Mail:</h4>
                            <p>info@cardvizite.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Telefon:</h4>
                            <p>+90 538 285 38 85</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12035.497990654267!2d28.89560026454525!3d41.049873541512106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caba8073f8a681%3A0xf6216d3881efd898!2zTXVyYXRwYcWfYSwgMzQwNDAgQmF5cmFtcGHFn2EvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1707055195517!5m2!1str!2str" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Adınız ve Soyadınız</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Mail Adresiniz</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">İletmek İstediğiniz Konunuz</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Mesajınız</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Mesajınızı Gönederin.</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

